.link{
	font-size: 18px;
	padding-left: 10px;
}
.link:hover{
	color: #333;
	text-decoration: underline;
	cursor: pointer;
}
#pic{
	margin-left: 0px;
}
h4{
	font-weight: 400;
}
html{
	background-color: #FEFEFE;
}